Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator, cargo-fmt-gas-oracle, cargo-clippy-gas-oracle, cargo-fmt-contracts-svm, cargo-clippy-contracts-svm, eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

cargo-fmt-auction-server:
  name: Cargo format for auction server
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-auction-server:
  name: Cargo clippy for auction server
  language: rust
  entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-vault-simulator:
  name: Cargo format for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-vault-simulator:
  name: Cargo clippy for vault simulator
  language: rust
  entry: cargo +stable clippy --manifest-path ./vault-simulator/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-gas-oracle:
  name: Cargo format for gas oracle
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./gas-oracle/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-gas-oracle:
  name: Cargo clippy for gas oracle
  language: rust
  entry: cargo +stable clippy --manifest-path ./gas-oracle/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-contracts-svm:
  name: Cargo format for svm contracts
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./contracts/svm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-contracts-svm:
  name: Cargo clippy for svm contracts
  language: rust
  entry: cargo +stable clippy --manifest-path ./contracts/svm/Cargo.toml --tests -- -D warnings
  pass_filenames: false

eslint-limonade:
  name: eslint limonade
  entry: npm run --prefix scripts/limonade lint
  pass_filenames: false
  language: system

eslint-dex-router:
  name: eslint dex-router
  entry: npm run --prefix scripts/dex-router lint
  pass_filenames: false
  language: system

eslint-opp-provider-limo:
  name: eslint opp-provider-limo
  entry: npm run --prefix scripts/opportunity-provider-limo lint
  pass_filenames: false
  language: system

eslint-opp-provider:
  name: eslint opp-provider
  entry: npm run --prefix scripts/opportunity-provider lint
  pass_filenames: false
  language: system

Add cargo lock
  sdk/rust/Cargo.lock
Due: none

More profiling + small bugfix
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction/service/handle_bid.rs
  sdk/js/src/examples/testingSearcherPing.ts
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

add slot
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

More profiling + small bugfix (#281)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction/service/handle_bid.rs
  auction-server/src/auction/service/simulator.rs
  sdk/js/src/examples/testingSearcherPing.ts
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add api as package
  Cargo.lock
  Dockerfile
  auction-server/Cargo.toml
  auction-server/api-types/Cargo.toml
  auction-server/src/api.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction/api.rs
  auction-server/src/auction/repository/models.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/entities/quote.rs
  auction-server/src/opportunity/entities/token_amount_evm.rs
  auction-server/src/opportunity/entities/token_amount_svm.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/get_opportunities.rs
  auction-server/src/opportunity/service/handle_opportunity_bid.rs
  auction-server/src/opportunity/service/make_adapter_calldata.rs
  auction-server/src/opportunity/service/make_opportunity_execution_params.rs
  auction-server/src/opportunity/service/make_permitted_tokens.rs
  auction-server/src/opportunity/service/verification.rs
  sdk/rust/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add dummy version
  .github/workflows/publish-express-relay-api-types.yml
  Cargo.lock
  auction-server/api-types/Cargo.toml
  sdk/rust/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  .github/workflows/publish-express-relay-api-types.yml
  .github/workflows/publish-express-relay-svm.yml
  Cargo.lock
  sdk/rust/Cargo.toml
Due: none

Add repo metadata
  auction-server/api-types/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  .github/workflows/publish-express-relay-svm.yml
  .github/workflows/publish-rust-express-relay-client.yml
Due: none

go
  auction-server/src/auction/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: reduce rpc calls in python sdk
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
  sdk/python/express_relay/svm/limo_client.py
Due: none

bump
  sdk/python/pyproject.toml
Due: none

feat: do not try to submit bid if jup output amount is lower than what we need
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

feat: do not try to submit bid if jup output amount is lower than what we need (#284)
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

fix: check rent exemptions manually after the simulation
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

More profiling + better docs
  auction-server/src/auction/service/handle_bid.rs
  auction-server/src/auction/service/verification.rs
  sdk/python/express_relay/svm/limo_client.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Remove external logs
  auction-server/src/main.rs
  auction-server/src/opportunity/service/get_spoof_info.rs
  auction-server/src/opportunity/service/handle_opportunity_bid.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix: check rent exemptions manually after the simulation (#285)
  auction-server/src/auction/service/handle_bid.rs
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/verification.rs
  sdk/python/express_relay/svm/limo_client.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Remove external logs (#286)
  auction-server/src/main.rs
  auction-server/src/opportunity/service/get_spoof_info.rs
  auction-server/src/opportunity/service/handle_opportunity_bid.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump (#287)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add more types to api-types
  Cargo.lock
  Cargo.toml
  auction-server/Cargo.toml
  auction-server/api-types/Cargo.toml
  auction-server/api-types/src/auction.rs
  auction-server/api-types/src/bid.rs
  auction-server/api-types/src/lib.rs
  auction-server/api-types/src/opportunity.rs
  auction-server/api-types/src/profile.rs
  auction-server/src/api.rs
  auction-server/src/api/profile.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction/api.rs
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/service/update_bid_status.rs
  auction-server/src/auction/service/workers.rs
  auction-server/src/kernel/entities.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add express relay rust client
  .github/workflows/publish-rust-express-relay-client.yml
  .pre-commit-config.yaml
  sdk/rust/Cargo.toml
  sdk/rust/src/lib.rs
Due: none

Add simple searcher schema
  Cargo.lock
  Cargo.toml
  auction-server/Cargo.toml
  sdk/rust/Cargo.toml
  sdk/rust/simple-searcher/Cargo.toml
  sdk/rust/simple-searcher/src/main.rs
  sdk/rust/src/lib.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

improve
  auction-server/src/auction/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: update bid status text to match docs (#282)
  auction-server/src/auction/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix/docstrings
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: none

dot
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: none

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
  cargo-fmt-gas-oracle: any of: gas-oracle
  cargo-clippy-gas-oracle: any of: gas-oracle
  cargo-fmt-contracts-svm: any of: contracts/svm
  cargo-clippy-contracts-svm: any of: contracts/svm
  eslint-limonade: any of: scripts/limonade
  eslint-dex-router: any of: scripts/dex-router
  eslint-opp-provider-limo: any of: scripts/opportunity-provider-limo
  eslint-opp-provider: any of: scripts/opportunity-provider
