Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

Address comments and small refactor
  auction-server/migrations/20240624145553_opportunity_index.down.sql
  auction-server/migrations/20240624145553_opportunity_index.up.sql
  auction-server/src/api/opportunity.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Change sort order
  auction-server/src/api/opportunity.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Historical endpoint (#101)
  auction-server/migrations/20240624145553_opportunity_index.down.sql
  auction-server/migrations/20240624145553_opportunity_index.up.sql
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/models.rs
  auction-server/src/serde.rs
  auction-server/src/state.rs
  contracts/test/OpportunityProvider.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix vault simulator (#96)
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Add docs and links for sdks
  README.md
Due: none

Add docs and links for sdks (#102)
  README.md
Due: none

revert to env vars for per_sdk
  Tiltfile
  contracts/script/Vault.s.sol
  integration.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
Due: none

Remove the internal EIP712Domain struct
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Permit2 auction server (#97)
  Tiltfile
  auction-server/config.sample.yaml
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/config.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  contracts/script/Vault.s.sol
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/helpers/TestParsingHelpers.sol
  contracts/test/helpers/signatures/SearcherSignature.sol
  contracts/test/searcher-vault/SearcherVault.sol
  contracts/test/searcher-vault/SigVerify.sol
  integration.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  contracts/test/ExpressRelayUnit.t.sol
  contracts/test/helpers/MulticallHelpers.sol
Due: none

Add better test for gas limit
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayUnit.t.sol
Due: none

Address comments
  auction-server/migrations/20240624171707_bid_gas_limit.up.sql
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add gas limit for internal calls in multicall
  auction-server/.sqlx/query-b8d0513ba6a00c8ad20b9c72677a69857e0f8ae8c2401c52f7f961c600574ffa.json
  auction-server/migrations/20240624171707_bid_gas_limit.down.sql
  auction-server/migrations/20240624171707_bid_gas_limit.up.sql
  auction-server/src/auction.rs
  auction-server/src/models.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  contracts/src/express-relay/ExpressRelay.sol
  contracts/src/express-relay/Structs.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityProvider.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update estimation
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  contracts/src/express-relay/Errors.sol
  contracts/src/express-relay/ExpressRelay.sol
  contracts/src/express-relay/Structs.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityProvider.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction.rs
  auction-server/src/state.rs
  contracts/src/express-relay/Errors.sol
  contracts/src/express-relay/ExpressRelay.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix tests
  contracts/test/ExpressRelayIntegration.t.sol
Due: none

Add gas limit for internal calls in multicall (#100)
  auction-server/.sqlx/query-b8d0513ba6a00c8ad20b9c72677a69857e0f8ae8c2401c52f7f961c600574ffa.json
  auction-server/migrations/20240624171707_bid_gas_limit.down.sql
  auction-server/migrations/20240624171707_bid_gas_limit.up.sql
  auction-server/src/auction.rs
  auction-server/src/models.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  contracts/src/express-relay/Errors.sol
  contracts/src/express-relay/ExpressRelay.sol
  contracts/src/express-relay/Structs.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/ExpressRelayUnit.t.sol
  contracts/test/OpportunityProvider.t.sol
  contracts/test/helpers/MulticallHelpers.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fetch bytecode hash from contract and more logs
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fetch bytecode hash from contract and more logs (#103)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix query
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix query (#104)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Permit2 sdk (#1724)
  sdk/js/README.md
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcher.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/express_relay_types.py
  sdk/python/express_relay/searcher/examples/simple_searcher.py
  sdk/python/pyproject.toml
Due: none

final audit report on express relay
  audit-reports/pyth_per_audit_final.pdf
Due: none

final audit report on express relay (#105)
  audit-reports/pyth_per_audit_final.pdf
Due: none

Update threshold for bid amount based on gas fees
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update threshold for bid amount based on gas fees (#106)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update minimum bid amount calculation
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update minimum bid amount calculation
  auction-server/src/auction.rs
  gas-oracle/src/lib.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add more info in error
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update minimum bid amount calculation (#107)
  auction-server/src/auction.rs
  gas-oracle/src/lib.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix Openapi Typescript package issues (#1737)
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none

Update the bids state which are not submitted to chain for an auction
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  auction-server/.sqlx/query-1a07b19befac7096f62aa512f2c33f6282c0565025ba9ede3325705de09ea145.json
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

reorder fields in OA ExecutionParams struct
  auction-server/src/opportunity_adapter.rs
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/src/opportunity-adapter/OpportunityAdapterHasher.sol
  contracts/src/opportunity-adapter/Structs.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityAdapterFactoryUnit.t.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/OpportunityProvider.t.sol
  contracts/test/PermitSignature.sol
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add index for bid creation time
  auction-server/migrations/20240627160811_bid_creation_time_index.down.sql
  auction-server/migrations/20240627160811_bid_creation_time_index.up.sql
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add index
  auction-server/.sqlx/query-33f3dda525887ab92aef0d37e718b87f933cb30d568abbc87b8112e7ab30c1bf.json
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update the bids state which are not submitted to chain for an auction (#108)
  auction-server/.sqlx/query-1a07b19befac7096f62aa512f2c33f6282c0565025ba9ede3325705de09ea145.json
  auction-server/.sqlx/query-33f3dda525887ab92aef0d37e718b87f933cb30d568abbc87b8112e7ab30c1bf.json
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/migrations/20240627160811_bid_creation_time_index.down.sql
  auction-server/migrations/20240627160811_bid_creation_time_index.up.sql
  auction-server/src/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server
