Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

fix: clippy warns fail pre-commit now
  .pre-commit-config.yaml
  auction-server/src/models.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/estimate_price.rs
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/state.rs
  contracts/svm/testing/src/express_relay/submit_bid.rs
  contracts/svm/testing/src/helpers.rs
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

fix: remove timeout
  auction-server/src/watcher.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix svm lost bid query update
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add svm verification loop
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/workers.rs
  auction-server/src/server.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add query
  auction-server/.sqlx/query-744013026c0b31750c2452f98851bb38e8bebeba59012b86ac6b0de653332cea.json
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix svm lost bid query update (#203)
  auction-server/.sqlx/query-744013026c0b31750c2452f98851bb38e8bebeba59012b86ac6b0de653332cea.json
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Remove unused import
  sdk/js/src/types.ts
Due: none

Update version
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none

Address comments
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: none

Add remove opportunties to sdk
  auction-server/src/opportunity/api.rs
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/models/__init__.py
  sdk/python/express_relay/models/base.py
  sdk/python/express_relay/models/svm.py
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add remove opportunties to sdk (#200)
  auction-server/src/opportunity/api.rs
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/models/__init__.py
  sdk/python/express_relay/models/base.py
  sdk/python/express_relay/models/svm.py
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

auction server get all live opps changes
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/get_opportunities.rs
  auction-server/src/opportunity/repository/mod.rs
  auction-server/src/opportunity/service/get_opportunities.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix: clippy warns fail pre-commit now (#201)
  .pre-commit-config.yaml
  auction-server/src/models.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/estimate_price.rs
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/state.rs
  contracts/svm/testing/src/express_relay/submit_bid.rs
  contracts/svm/testing/src/helpers.rs
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Add svm verification loop (#204)
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/workers.rs
  auction-server/src/server.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

typescript sdk changes
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
Due: none

python sdk changes
  sdk/python/express_relay/client.py
  sdk/python/pyproject.toml
Due: none

bump version of limo
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

bump version #
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

Fix/bump limo version 0.6.0 (#206)
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

fix rounding bug
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

unbump package version
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

Fix/rounding bug limo sdk (#207)
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

Fix log for remove opportunity in js sdk
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

Fix log for remove opportunity in js sdk (#208)
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

Fix
  scripts/limonade/package-lock.json
  scripts/limonade/src/index.ts
Due: none

Add remove and resubmit opportunity
  Tiltfile
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

Remove redundant comment
  scripts/limonade/src/index.ts
Due: none

Address comments
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

Fix version
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

Add remove and resubmit opportunity (#202)
  Tiltfile
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

temp2
  auction-server/src/auction.rs
  auction-server/src/simulator/main.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

t
  Tiltfile
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/main.rs
  auction-server/src/simulator.rs
  auction-server/src/simulator/main.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

t
  auction-server/src/auction.rs
  auction-server/src/main.rs
  auction-server/src/simulator.rs
  auction-server/src/simulator/main.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

some cleanup
  Tiltfile
  auction-server/src/auction.rs
  auction-server/src/simulator/main.rs
  auction-server/src/state.rs
  integration.py
  per_sdk/svm/tx_delayer.py
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

more todo
  auction-server/src/simulator/main.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

uncomment unrelated logic
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix: Fix licenses (#1710)
  examples/easy_lend/contracts/EasyLend.sol
  examples/easy_lend/contracts/EasyLendErrors.sol
  examples/easy_lend/contracts/EasyLendStructs.sol
  sdk/python/pyproject.toml
  sdk/solidity/IExpressRelay.sol
  sdk/solidity/IExpressRelayFeeReceiver.sol
Due: none

Permit2 sdk (#1724)
  sdk/js/README.md
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcher.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/express_relay_types.py
  sdk/python/express_relay/searcher/examples/simple_searcher.py
  sdk/python/pyproject.toml
Due: none

feat: svm watcher (#179)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/api/ws.rs
  auction-server/src/main.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/watcher.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix Openapi Typescript package issues (#1737)
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none
