Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

feat(express-relay): Update bid status (#1574)
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcher.ts
  sdk/js/src/serverTypes.d.ts
  sdk/python/express_relay/express_relay_types.py
  sdk/python/express_relay/searcher/examples/simple_searcher.py
  sdk/python/pyproject.toml
Due: none

feat(per-js-sdk): Add support for bid state and raw bid submission + renames (#1329)
  sdk/js/README.md
  sdk/js/package.json
  sdk/js/src/examples/SimpleSearcher.ts
  sdk/js/src/examples/simpleSearcher.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
Due: none

(Express Relay):renamed easyLend argument name (#1691)
  examples/easy_lend/contracts/EasyLend.sol
  examples/easy_lend/contracts/EasyLendStructs.sol
Due: none

fix: mypy pre-commit (#1969)
  sdk/python/express_relay/searcher/examples/simple_searcher.py
Due: none

initial sdk prototype (#1850)
  examples/easy_lend/package.json
  examples/easy_lend/src/monitor.ts
  sdk/js/README.md
  sdk/js/package.json
  sdk/js/src/const.ts
  sdk/js/src/examples/dummyTypes.d.ts
  sdk/js/src/examples/idl/idlDummy.json
  sdk/js/src/examples/simpleSearcherSvm.ts
  sdk/js/src/expressRelayTypes.d.ts
  sdk/js/src/idl/idlExpressRelay.json
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/js/tsconfig.json
Due: none

Fix Openapi Typescript package issues (#1737)
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none

fix: precommit fixes (#1377)
  sdk/python/poetry.lock
Due: none

feat/remove-blockhash
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/get_quote.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

remove blockhash from auction server
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/get_quote.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

remove from sdks
  sdk/js/src/index.ts
  sdk/python/express_relay/models/svm.py
Due: none

regenerate js types
  sdk/js/src/serverTypes.d.ts
Due: none

remove blockhash
  sdk/js/src/types.ts
Due: none

go
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
  sdk/js/src/types.ts
Due: none

initial testing of lookup table fix
  Tiltfile
  auction-server/src/auction.rs
  per_sdk/svm/dummy_tx.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

testing
  per_sdk/svm/dummy_tx.py
Due: none

get lookup tables querying on server working
  auction-server/src/auction.rs
  per_sdk/svm/dummy_tx.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix get bids result for empty bids list
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix get bids result for empty bids list (#190)
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix concluding auctions with no bids
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix concluding auctions with no bids (#191)
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

publishing utils
  .github/workflows/push-rust-services.yaml
  scripts/opportunity-provider-limo/Dockerfile
Due: none

Fix docstrings to end with a period.
  auction-server/src/api.rs
  auction-server/src/api/profile.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/service/get_quote.rs
  auction-server/src/opportunity/service/get_spoof_info.rs
  auction-server/src/opportunity/token_spoof.rs
  auction-server/src/state.rs
  contracts/svm/cli/src/main.rs
  contracts/svm/programs/dummy/src/lib.rs
  contracts/svm/programs/express_relay/README.md
  contracts/svm/programs/express_relay/src/lib.rs
  contracts/svm/programs/express_relay/src/sdk/cpi.rs
  contracts/svm/programs/express_relay/src/sdk/test_helpers.rs
  contracts/svm/programs/express_relay/src/utils.rs
  gas-oracle/src/lib.rs
  vault-simulator/src/config.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Fix docstrings to end with a period. (#192)
  auction-server/src/api.rs
  auction-server/src/api/profile.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/service/get_quote.rs
  auction-server/src/opportunity/service/get_spoof_info.rs
  auction-server/src/opportunity/token_spoof.rs
  auction-server/src/state.rs
  contracts/svm/cli/src/main.rs
  contracts/svm/programs/dummy/src/lib.rs
  contracts/svm/programs/express_relay/README.md
  contracts/svm/programs/express_relay/src/lib.rs
  contracts/svm/programs/express_relay/src/sdk/cpi.rs
  contracts/svm/programs/express_relay/src/sdk/test_helpers.rs
  contracts/svm/programs/express_relay/src/utils.rs
  gas-oracle/src/lib.rs
  vault-simulator/src/config.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

address comments
  .github/workflows/push-rust-services.yaml
  scripts/opportunity-provider-limo/.gitignore
  scripts/opportunity-provider-limo/README.md
  scripts/opportunity-provider-limo/index.ts
  scripts/opportunity-provider-limo/opportunities.sample.json
Due: none

minor
  scripts/opportunity-provider-limo/README.md
  scripts/opportunity-provider-limo/index.ts
  scripts/opportunity-provider-limo/opportunities.json
Due: none

some more docs
  scripts/dex-router/README.md
  scripts/dex-router/package.json
  scripts/dex-router/src/const.ts
  scripts/dex-router/src/index.ts
Due: none

modify gitignore
  scripts/opportunity-provider-limo/.gitignore
Due: none

address comments
  scripts/opportunity-provider-limo/index.ts
Due: none

opportunity provider script for limo (#180)
  .github/workflows/push-rust-services.yaml
  scripts/opportunity-provider-limo/.gitignore
  scripts/opportunity-provider-limo/Dockerfile
  scripts/opportunity-provider-limo/README.md
  scripts/opportunity-provider-limo/index.ts
  scripts/opportunity-provider-limo/opportunities.sample.json
  scripts/opportunity-provider-limo/package-lock.json
  scripts/opportunity-provider-limo/package.json
  scripts/opportunity-provider-limo/tsconfig.json
Due: none

implement
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

checkpoint
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
Due: none

export api type
  auction-server/src/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

go
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
Due: none

some intermediate fixes
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/types.ts
Due: none

better error names
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address comments
  auction-server/src/auction.rs
  auction-server/src/opportunity/service/get_quote.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

add referral fee configurability
  contracts/svm/programs/express_relay/src/error.rs
  contracts/svm/programs/express_relay/src/lib.rs
  contracts/svm/programs/express_relay/src/utils.rs
Due: none

add fullstop to docstring
  auction-server/src/opportunity/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server
