Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2023-07-23 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +nightly-2023-07-23 clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2023-07-23 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2023-07-23 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

Fix clippy issues
  auction-server/src/api/liquidation.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/liquidation_adapter.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  vault-simulator/Cargo.lock
  vault-simulator/Cargo.toml
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Add ws support for liquidation bids
  auction-server/src/api.rs
  auction-server/src/api/liquidation.rs
  auction-server/src/api/ws.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix openapi schemas
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix ci
  .github/workflows/ci-pre-commit.yml
Due: none

Address comments
  auction-server/src/api/bid.rs
  auction-server/src/api/liquidation.rs
  auction-server/src/auction.rs
  auction-server/src/liquidation_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Move business logic outside api
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/liquidation.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/liquidation_adapter.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat(per): Per solidity sdk (#1325)
  sdk/js/package.json
  sdk/solidity/IPERFeeReceiver.sol
  sdk/solidity/IPERMulticall.sol
  sdk/solidity/README.md
  sdk/solidity/abis/IPERFeeReceiver.json
  sdk/solidity/abis/IPERMulticall.json
  sdk/solidity/package.json
Due: none

Make ws apis return the exact same result as the http apis
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/liquidation.rs
  auction-server/src/api/ws.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/api/bid.rs
  auction-server/src/api/liquidation.rs
  auction-server/src/server.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat(auction-server): Bid status (#23)
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/liquidation.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/liquidation_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  vault-simulator/Cargo.lock
  vault-simulator/Cargo.toml
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

fix(auction-server): Use dashmap for bid status
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(auction-server): Use dashmap for token spoof info
  auction-server/src/liquidation_adapter.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(auction-server): Use dashmap for bids
  auction-server/src/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add todo
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(auction-server): Correct schema for BidId
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/api/ws.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(auction-server): Correct schema for BidId (#25)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/api/ws.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix typo
  auction-server/src/api.rs
  auction-server/src/api/ws.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

change validUntil to be timestamp
  README.md
  per_multicall/src/LiquidationAdapter.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/test/PERIntegration.t.sol
Due: none

bid status with id
  auction-server/src/api.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

renamings
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(naming): couple of naming improvements
  README.md
  auction-server/README.md
  auction-server/config.sample.yaml
  auction-server/src/api.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/liquidation_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  per_multicall/README.md
  per_multicall/script/Vault.s.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayFeeReceiver.sol
  per_multicall/src/LiquidationAdapter.sol
  per_multicall/src/OnChainAuction.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_multicall/test/PERIntegration.t.sol
  per_multicall/test/helpers/Signatures.sol
  vault-simulator/src/config.rs
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

addressed comments
  per_multicall/src/SearcherVault.sol
Due: none

Adjustments schema contracts (#26)
  README.md
  auction-server/src/api.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/state.rs
  per_multicall/src/LiquidationAdapter.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/test/PERIntegration.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address part1
  README.md
  auction-server/README.md
  auction-server/config.sample.yaml
  auction-server/src/api/liquidation.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/liquidation_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  per_multicall/src/ExpressRelay.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address part2
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/liquidation_adapter.rs
  per_multicall/README.md
  per_multicall/script/Vault.s.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/PERIntegration.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

contracts -> targetContracts
  auction-server/src/auction.rs
  per_multicall/src/ExpressRelay.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bid->bid_amount
  auction-server/src/auction.rs
  auction-server/src/liquidation_adapter.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address part3
  auction-server/src/liquidation_adapter.rs
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/Structs.sol
  per_multicall/test/PERIntegration.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address part4
  per_sdk/protocols/token_vault_monitor.py
  per_sdk/searcher/simple_searcher.py
Due: none

address part 5
  auction-server/src/state.rs
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/PERIntegration.t.sol
  per_multicall/test/helpers/Signatures.sol
  per_sdk/searcher/searcher_utils.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address part 6
  README.md
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/ExpressRelayIntegration.sol
  per_multicall/test/helpers/Signatures.sol
Due: none

address part 7
  auction-server/src/auction.rs
  auction-server/src/liquidation_adapter.rs
  per_multicall/README.md
  per_multicall/test/ExpressRelayIntegration.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

update error signature
  per_multicall/src/Errors.sol
Due: none

Eradicate liquidation from auction server
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/api/ws.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/ExpressRelayIntegration.sol
  per_multicall/test/helpers/Signatures.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
  per_sdk/protocols/token_vault_monitor.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
  vault-simulator/src/config.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

calldata/data to targetCalldata
  auction-server/src/auction.rs
  per_multicall/src/ExpressRelay.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

small fixes
  auction-server/src/state.rs
  per_multicall/README.md
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

add target prefix for contract and calldata in executionParams
  auction-server/src/opportunity_adapter.rs
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/Structs.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Remove onchain auction
  per_multicall/src/OnChainAuction.sol
Due: none

Address comments
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  per_multicall/README.md
  per_sdk/protocols/token_vault_monitor.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump version
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server
