Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

cargo-fmt-auction-server:
  name: Cargo format for auction server
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-auction-server:
  name: Cargo clippy for auction server
  language: rust
  entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
  pass_filenames: false

cargo-fmt-vault-simulator:
  name: Cargo format for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-vault-simulator:
  name: Cargo clippy for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
  pass_filenames: false

Add permit2 for auction server (#83)
  .vscode/settings.json
  Tiltfile
  auction-server/config.sample.yaml
  auction-server/src/api/opportunity.rs
  auction-server/src/config.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  integration.py
  package-lock.json
  per_multicall/script/Vault.s.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/PermitSignature.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add timeout for rpc calls
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/rpc_client.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  auction-server/src/traced_client.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Revert "Add timeout for rpc calls"
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/rpc_client.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  auction-server/src/traced_client.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add reqwest to traced client
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/traced_client.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Merge with main
  auction-server/src/opportunity_adapter.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add rpc timeout to chain config
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/server.rs
  auction-server/src/traced_client.rs
  integration.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add timeout for rpc calls (#81)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/server.rs
  auction-server/src/traced_client.rs
  integration.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: Sync subwallets
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/main.rs
  auction-server/src/server.rs
  auction-server/src/subwallet.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  Tiltfile
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/src/config.rs
  auction-server/src/server.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: Sync subwallets (#84)
  Tiltfile
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/main.rs
  auction-server/src/server.rs
  auction-server/src/subwallet.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction.rs
  per_multicall/script/Vault.s.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  per_multicall/script/Vault.s.sol
Due: none

Add bid validation for gas fee
  auction-server/src/auction.rs
  auction-server/src/gas_oracle.rs
  per_multicall/script/Vault.s.sol
  per_sdk/searcher/simple_searcher.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address review comment
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add bid validation for gas fee (#85)
  auction-server/src/auction.rs
  auction-server/src/gas_oracle.rs
  per_multicall/script/Vault.s.sol
  per_sdk/searcher/simple_searcher.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: tracing
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/src/auction.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Extract gas-oracle and use it in simulator
  .pre-commit-config.yaml
  Dockerfile
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/main.rs
  gas-oracle/Cargo.lock
  gas-oracle/Cargo.toml
  gas-oracle/src/lib.rs
  vault-simulator/Cargo.toml
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

bump
  vault-simulator/Cargo.lock
  vault-simulator/Cargo.toml
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Update vscode settings
  .vscode/settings.json
Due: none

feat: Gas oracle lib (#87)
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/auction.rs
  auction-server/src/main.rs
  gas-oracle/Cargo.lock
  gas-oracle/Cargo.toml
  gas-oracle/src/lib.rs
  vault-simulator/Cargo.toml
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

address comments
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/main.rs
  auction-server/src/token_spoof.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: Enable exporting traces in OTLP format (#86)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/src/auction.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add gas limit for bids
  auction-server/src/auction.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add comment
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add permit2 contract
  per_multicall/README.md
  per_multicall/foundry.toml
  per_multicall/permit2/Mock.sol
  per_multicall/remappings.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/Permit2.sol
  per_multicall/src/Permit2Upgradable.sol
  per_multicall/src/Structs.sol
  per_multicall/test/ExpressRelayIntegration.t.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/PermitSignature.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
Due: none

Add error signature
  per_multicall/src/Errors.sol
Due: none

Address review comments
  auction-server/src/auction.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add gas limit for bids (#88)
  auction-server/src/auction.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix: licenses
  LICENSE
  README.md
  auction-server/README.md
  auction-server/license.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/Errors.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayEvents.sol
  per_multicall/src/ExpressRelayGovernanceEvents.sol
  per_multicall/src/ExpressRelayHelpers.sol
  per_multicall/src/ExpressRelayState.sol
  per_multicall/src/ExpressRelayUpgradable.sol
  per_multicall/src/MyToken.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/SigVerify.sol
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_multicall/src/TokenVaultErrors.sol
  per_multicall/test/ExpressRelayIntegration.t.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/helpers/ExpressRelayHarness.sol
  per_multicall/test/helpers/MockProtocol.sol
  per_multicall/test/helpers/MulticallHelpers.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
  per_multicall/test/helpers/PriceHelpers.sol
  per_multicall/test/helpers/Signatures/OpportunityAdapterSignature.sol
  per_multicall/test/helpers/Signatures/SearcherSignature.sol
  per_multicall/test/helpers/Signatures/Signature.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix: Fix licenses (#1710)
  examples/easy_lend/contracts/EasyLend.sol
  examples/easy_lend/contracts/EasyLendErrors.sol
  examples/easy_lend/contracts/EasyLendStructs.sol
  sdk/python/pyproject.toml
  sdk/solidity/IExpressRelay.sol
  sdk/solidity/IExpressRelayFeeReceiver.sol
Due: none

fix: licenses (#91)
  LICENSE
  README.md
  auction-server/README.md
  auction-server/license.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/Errors.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayEvents.sol
  per_multicall/src/ExpressRelayGovernanceEvents.sol
  per_multicall/src/ExpressRelayHelpers.sol
  per_multicall/src/ExpressRelayState.sol
  per_multicall/src/ExpressRelayUpgradable.sol
  per_multicall/src/MyToken.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/SigVerify.sol
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_multicall/src/TokenVaultErrors.sol
  per_multicall/test/ExpressRelayIntegration.t.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/helpers/ExpressRelayHarness.sol
  per_multicall/test/helpers/MockProtocol.sol
  per_multicall/test/helpers/MulticallHelpers.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
  per_multicall/test/helpers/PriceHelpers.sol
  per_multicall/test/helpers/Signatures/OpportunityAdapterSignature.sol
  per_multicall/test/helpers/Signatures/SearcherSignature.sol
  per_multicall/test/helpers/Signatures/Signature.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

More license fix and remove outdated files
  .gitmodules
  Tiltfilek8s
  per_multicall/permit2/Mock.sol
  requirements.txt
  tilt/deployment.yaml
  vault-simulator/Cargo.toml
  vault-simulator/license.txt
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Optimize imports and refactor a bit
  per_multicall/script/Vault.s.sol
  per_multicall/src/ExpressRelayUpgradable.sol
  per_multicall/src/IWETH9.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/src/Structs.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/MyToken.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/WETH9.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
Due: none

More reorgs
  per_multicall/script/Vault.s.sol
  per_multicall/src/CommonErrors.sol
  per_multicall/src/Errors.sol
  per_multicall/src/ExpressRelay/Errors.sol
  per_multicall/src/ExpressRelay/ExpressRelay.sol
  per_multicall/src/ExpressRelay/ExpressRelayEvents.sol
  per_multicall/src/ExpressRelay/ExpressRelayGovernanceEvents.sol
  per_multicall/src/ExpressRelay/ExpressRelayHelpers.sol
  per_multicall/src/ExpressRelay/ExpressRelayState.sol
  per_multicall/src/ExpressRelay/ExpressRelayUpgradable.sol
  per_multicall/src/ExpressRelay/Structs.sol
  per_multicall/src/OpportunityAdapter/Errors.sol
  per_multicall/src/OpportunityAdapter/IWETH9.sol
  per_multicall/src/OpportunityAdapter/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapter/OpportunityAdapterUpgradable.sol
  per_multicall/src/OpportunityAdapter/Structs.sol
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_multicall/test/ExpressRelayIntegration.t.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/SearcherVault/Errors.sol
  per_multicall/test/SearcherVault/SearcherVault.sol
  per_multicall/test/SearcherVault/SigVerify.sol
  per_multicall/test/SearcherVault/Structs.sol
  per_multicall/test/helpers/ExpressRelayHarness.sol
  per_multicall/test/helpers/MulticallHelpers.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
  per_multicall/test/helpers/Signatures/OpportunityAdapterSignature.sol
  per_multicall/test/helpers/Signatures/Signature.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
Due: none

kebab-case folders
  per_multicall/script/Vault.s.sol
  per_multicall/src/express-relay/Errors.sol
  per_multicall/src/express-relay/ExpressRelay.sol
  per_multicall/src/express-relay/ExpressRelayEvents.sol
  per_multicall/src/express-relay/ExpressRelayGovernanceEvents.sol
  per_multicall/src/express-relay/ExpressRelayHelpers.sol
  per_multicall/src/express-relay/ExpressRelayState.sol
  per_multicall/src/express-relay/ExpressRelayUpgradable.sol
  per_multicall/src/express-relay/Structs.sol
  per_multicall/src/opportunity-adapter/Errors.sol
  per_multicall/src/opportunity-adapter/IWETH9.sol
  per_multicall/src/opportunity-adapter/OpportunityAdapter.sol
  per_multicall/src/opportunity-adapter/OpportunityAdapterUpgradable.sol
  per_multicall/src/opportunity-adapter/Structs.sol
  per_multicall/test/ExpressRelayIntegration.t.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/helpers/ExpressRelayHarness.sol
  per_multicall/test/helpers/MulticallHelpers.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
  per_multicall/test/helpers/signatures/OpportunityAdapterSignature.sol
  per_multicall/test/helpers/signatures/SearcherSignature.sol
  per_multicall/test/helpers/signatures/Signature.sol
  per_multicall/test/searcher-vault/Errors.sol
  per_multicall/test/searcher-vault/SearcherVault.sol
  per_multicall/test/searcher-vault/SigVerify.sol
  per_multicall/test/searcher-vault/Structs.sol
  per_multicall/test/token-vault/Errors.sol
  per_multicall/test/token-vault/TokenVault.sol
Due: none

Remove unused comment
  per_multicall/src/express-relay/Errors.sol
Due: none

reorder imports
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
Due: none

fix imports
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
Due: none

More renaming
  per_multicall/src/express-relay/Events.sol
  per_multicall/src/express-relay/ExpressRelay.sol
  per_multicall/src/express-relay/GovernanceEvents.sol
  per_multicall/src/express-relay/Helpers.sol
  per_multicall/src/express-relay/State.sol
  per_multicall/test/ExpressRelayIntegration.t.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
  per_multicall/test/OpportunityAdapterIntegration.t.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/helpers/ExpressRelayHarness.sol
  per_multicall/test/helpers/MulticallHelpers.sol
  per_multicall/test/helpers/OpportunityAdapterHarness.sol
  per_multicall/test/helpers/signatures/OpportunityAdapterSignature.sol
  per_multicall/test/searcher-vault/SearcherVault.sol
Due: none

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
