Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2023-07-23 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +nightly-2023-07-23 clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2023-07-23 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2023-07-23 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

fix(naming): naming improvements (#27)
  README.md
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/config.sample.yaml
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  per_multicall/README.md
  per_multicall/script/Vault.s.sol
  per_multicall/src/Errors.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayFeeReceiver.sol
  per_multicall/src/LiquidationAdapter.sol
  per_multicall/src/OnChainAuction.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_multicall/test/ExpressRelayIntegration.sol
  per_multicall/test/helpers/Signatures.sol
  per_multicall/test/helpers/TestParsingHelpers.sol
  per_sdk/protocols/token_vault_monitor.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
  vault-simulator/src/config.rs
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Setup tilt
  README.md
  Tiltfile
  Tiltfilek8s
  integration.py
  per_multicall/script/Vault.s.sol
Due: none

use target_ for contract/calldata/value
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/Structs.sol
  per_sdk/protocols/token_vault_monitor.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix comment
  per_multicall/src/OpportunityAdapter.sol
Due: none

Add installation instructions
  README.md
Due: none

feat(tilt): Setup tilt for local development (#28)
  README.md
  Tiltfile
  Tiltfilek8s
  integration.py
  per_multicall/script/Vault.s.sol
Due: none

fix(naming): use target_ for contract/calldata/value (#29)
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/Structs.sol
  per_sdk/protocols/token_vault_monitor.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(express_relay): Update naming on express relay interfaces (#1358)
  sdk/solidity/IExpressRelay.sol
  sdk/solidity/IExpressRelayFeeReceiver.sol
  sdk/solidity/README.md
  sdk/solidity/abis/IExpressRelay.json
  sdk/solidity/abis/IExpressRelayFeeReceiver.json
  sdk/solidity/package.json
Due: none

feat(per-js-sdk): Add support for bid state and raw bid submission + renames (#1329)
  sdk/js/README.md
  sdk/js/package.json
  sdk/js/src/examples/SimpleSearcher.ts
  sdk/js/src/examples/simpleSearcher.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
Due: none

feat(contracts): make opportunity adapter upgradable
  .github/workflows/ci-pre-commit.yml
  Dockerfile
  per_multicall/README.md
  per_multicall/remappings.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/test/ExpressRelayIntegration.sol
  per_sdk/Dockerfile
Due: none

Improve scripts for upgaradble adapter
  per_multicall/script/Vault.s.sol
Due: none

Remove version for openzeppelin-contracts
  per_multicall/README.md
Due: none

Bump auction server
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix comment
  per_multicall/test/ExpressRelayIntegration.sol
Due: none

feat(contracts): make opportunity adapter upgradable (#30)
  .github/workflows/ci-pre-commit.yml
  Dockerfile
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  per_multicall/README.md
  per_multicall/remappings.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/test/ExpressRelayIntegration.sol
  per_sdk/Dockerfile
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Express relay python searcher (#1319)
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/index.ts
  sdk/js/tsconfig.json
  sdk/python/README.md
  sdk/python/express_relay/__init__.py
  sdk/python/express_relay/client.py
  sdk/python/express_relay/searcher/examples/simple_searcher.py
  sdk/python/express_relay/types.py
  sdk/python/mypy.ini
  sdk/python/poetry.lock
  sdk/python/pyproject.toml
Due: none

feat(docs): Add verification guideline
  per_multicall/README.md
Due: none

fix(contracts): set broadcaster in deployOpportunityAdapter as it can be called directly
  per_multicall/script/Vault.s.sol
Due: none

Cleanup TokenVault
  per_multicall/script/Vault.s.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/TokenVault.sol
Due: none

fix(refactor): vaultID -> vaultId
  per_multicall/script/Vault.s.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/TokenVault.sol
Due: none

Add command for etherscan
  per_multicall/README.md
Due: none

Use express relay package for interfaces
  per_multicall/package-lock.json
  per_multicall/package.json
  per_multicall/remappings.txt
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayFeeReceiver.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/src/TokenVault.sol
Due: none

Address comments
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/TokenVault.sol
Due: none

Address comments
  per_multicall/script/Vault.s.sol
  per_multicall/src/TokenVault.sol
Due: none

fix(contracts): TokenVault cleanup (#31)
  per_multicall/README.md
  per_multicall/package-lock.json
  per_multicall/package.json
  per_multicall/remappings.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayFeeReceiver.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/src/OpportunityAdapterUpgradable.sol
  per_multicall/src/SearcherVault.sol
  per_multicall/src/TokenVault.sol
Due: none

Fix struct field names
  per_multicall/src/Structs.sol
  per_sdk/protocols/token_vault_monitor.py
Due: none

fix(contracts): Fix struct field names (#32)
  per_multicall/src/Structs.sol
  per_sdk/protocols/token_vault_monitor.py
Due: none

fix testing
  per_multicall/README.md
  per_multicall/remappings.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/TokenVault.sol
  per_multicall/test/ExpressRelayIntegration.sol
Due: none

some more testing
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_sdk/protocols/token_vault_monitor.py
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

temp
  .pre-commit-config.yaml
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/README.md
  auction-server/migrations/20240320162754_init.down.sql
  auction-server/migrations/20240320162754_init.up.sql
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/token_spoof.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

moar testing
  per_multicall/script/Vault.s.sol
  per_multicall/src/TokenVault.sol
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

use var names, automatically set collat_factor
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

cleaning up
  per_multicall/src/TokenVault.sol
Due: none

address comments
  per_multicall/README.md
  per_multicall/script/Vault.s.sol
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

updated vault simulator version
  vault-simulator/Cargo.lock
  vault-simulator/Cargo.toml
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

more instructions on forge verify-contract
  per_multicall/README.md
Due: none

fix bug: all mults done together
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Undercollat vault creation (#33)
  per_multicall/README.md
  per_multicall/remappings.txt
  per_multicall/script/Vault.s.sol
  per_multicall/src/Structs.sol
  per_multicall/src/TokenVault.sol
  per_multicall/test/ExpressRelayIntegration.sol
  per_sdk/protocols/token_vault_monitor.py
  vault-simulator/Cargo.lock
  vault-simulator/Cargo.toml
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

bump version
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump version (#34)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server
