Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator, cargo-fmt-gas-oracle, cargo-clippy-gas-oracle, cargo-fmt-contracts-svm, cargo-clippy-contracts-svm, eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

cargo-fmt-auction-server:
  name: Cargo format for auction server
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-auction-server:
  name: Cargo clippy for auction server
  language: rust
  entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-vault-simulator:
  name: Cargo format for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-vault-simulator:
  name: Cargo clippy for vault simulator
  language: rust
  entry: cargo +stable clippy --manifest-path ./vault-simulator/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-gas-oracle:
  name: Cargo format for gas oracle
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./gas-oracle/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-gas-oracle:
  name: Cargo clippy for gas oracle
  language: rust
  entry: cargo +stable clippy --manifest-path ./gas-oracle/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-contracts-svm:
  name: Cargo format for svm contracts
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./contracts/svm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-contracts-svm:
  name: Cargo clippy for svm contracts
  language: rust
  entry: cargo +stable clippy --manifest-path ./contracts/svm/Cargo.toml --tests -- -D warnings
  pass_filenames: false

eslint-limonade:
  name: eslint limonade
  entry: npm run --prefix scripts/limonade lint
  pass_filenames: false
  language: system

eslint-dex-router:
  name: eslint dex-router
  entry: npm run --prefix scripts/dex-router lint
  pass_filenames: false
  language: system

eslint-opp-provider-limo:
  name: eslint opp-provider-limo
  entry: npm run --prefix scripts/opportunity-provider-limo lint
  pass_filenames: false
  language: system

eslint-opp-provider:
  name: eslint opp-provider
  entry: npm run --prefix scripts/opportunity-provider lint
  pass_filenames: false
  language: system

Upgrade generated abi
  sdk/rust/abi/ERC20.sol/ERC20.json
  sdk/rust/abi/ExpressRelay.sol/ExpressRelay.json
  sdk/rust/abi/OpportunityAdapter.sol/OpportunityAdapter.json
  sdk/rust/abi/OpportunityAdapterFactory.sol/OpportunityAdapterFactory.json
  sdk/rust/abi/WETH9.sol/WETH9.json
Due: none

checkpoint
  pnpm-lock.yaml
  scripts/limonade/package.json
  scripts/limonade/price-config.yaml
  scripts/limonade/src/index.ts
  scripts/limonade/src/price-config.ts
Due: eslint-limonade

go
  scripts/limonade/price-config.yaml
  scripts/limonade/src/index.ts
  scripts/limonade/src/price-config.ts
Due: eslint-limonade

remove unncessary dep
  pnpm-lock.yaml
  scripts/limonade/package.json
Due: eslint-limonade

go
  scripts/limonade/src/index.ts
Due: eslint-limonade

go
  scripts/limonade/src/index.ts
  scripts/limonade/src/price-config.ts
Due: eslint-limonade

go
  scripts/limonade/src/price-config.ts
Due: eslint-limonade

timeout
  scripts/limonade/src/index.ts
Due: eslint-limonade

smart limonade
  scripts/limonade/package.json
Due: eslint-limonade

improve description
  scripts/limonade/src/index.ts
Due: eslint-limonade

add error handling
  scripts/limonade/src/index.ts
Due: eslint-limonade

restore chagne
  scripts/limonade/src/index.ts
Due: eslint-limonade

hermes
  scripts/limonade/src/index.ts
Due: eslint-limonade

feat: min slot support for submitting svm bids
  auction-server/src/auction/api.rs
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/verification.rs
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/models/__init__.py
  sdk/python/express_relay/models/svm.py
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Sleep between retries
  auction-server/src/auction/service/verification.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Remove print
  sdk/rust/src/lib.rs
Due: none

added sample config
  scripts/limonade/price-config.sample.yaml
Due: eslint-limonade

clarify comment, make stalenessthreshold milliseconds
  scripts/limonade/src/index.ts
Due: eslint-limonade

add price band
  scripts/limonade/src/index.ts
Due: eslint-limonade

go
  pnpm-lock.yaml
  scripts/limonade/package.json
  scripts/limonade/src/price-config.ts
Due: eslint-limonade

add publish time
  scripts/limonade/src/index.ts
Due: eslint-limonade

only update if more recent price
  scripts/limonade/src/index.ts
Due: eslint-limonade

evaluate staleness in isOffMarket
  scripts/limonade/src/index.ts
Due: eslint-limonade

remove double negative
  scripts/limonade/src/index.ts
Due: eslint-limonade

add interval
  scripts/limonade/src/index.ts
Due: eslint-limonade

improve hermes timeout:
  scripts/limonade/src/index.ts
Due: eslint-limonade

refactor hermes timeout
  scripts/limonade/src/index.ts
Due: eslint-limonade

add readme
  scripts/limonade/README.md
Due: eslint-limonade

feat: make limonade smart (#290)
  pnpm-lock.yaml
  scripts/limonade/README.md
  scripts/limonade/package.json
  scripts/limonade/price-config.sample.yaml
  scripts/limonade/src/index.ts
  scripts/limonade/src/price-config.ts
Due: eslint-limonade

Fix svm slow conclusion
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/workers.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/workers.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Better code
  auction-server/src/auction/service/workers.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add comment
  auction-server/src/auction/service/conclude_auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/verification.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
  cargo-fmt-gas-oracle: any of: gas-oracle
  cargo-clippy-gas-oracle: any of: gas-oracle
  cargo-fmt-contracts-svm: any of: contracts/svm
  cargo-clippy-contracts-svm: any of: contracts/svm
  eslint-limonade: any of: scripts/limonade
  eslint-dex-router: any of: scripts/dex-router
  eslint-opp-provider-limo: any of: scripts/opportunity-provider-limo
  eslint-opp-provider: any of: scripts/opportunity-provider
