Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator, cargo-fmt-gas-oracle, cargo-clippy-gas-oracle, cargo-fmt-contracts-svm, cargo-clippy-contracts-svm, eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

cargo-fmt-auction-server:
  name: Cargo format for auction server
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-auction-server:
  name: Cargo clippy for auction server
  language: rust
  entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-vault-simulator:
  name: Cargo format for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-vault-simulator:
  name: Cargo clippy for vault simulator
  language: rust
  entry: cargo +stable clippy --manifest-path ./vault-simulator/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-gas-oracle:
  name: Cargo format for gas oracle
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./gas-oracle/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-gas-oracle:
  name: Cargo clippy for gas oracle
  language: rust
  entry: cargo +stable clippy --manifest-path ./gas-oracle/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-contracts-svm:
  name: Cargo format for svm contracts
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./contracts/svm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-contracts-svm:
  name: Cargo clippy for svm contracts
  language: rust
  entry: cargo +stable clippy --manifest-path ./contracts/svm/Cargo.toml --tests -- -D warnings
  pass_filenames: false

eslint-limonade:
  name: eslint limonade
  entry: npm run --prefix scripts/limonade lint
  pass_filenames: false
  language: system

eslint-dex-router:
  name: eslint dex-router
  entry: npm run --prefix scripts/dex-router lint
  pass_filenames: false
  language: system

eslint-opp-provider-limo:
  name: eslint opp-provider-limo
  entry: npm run --prefix scripts/opportunity-provider-limo lint
  pass_filenames: false
  language: system

eslint-opp-provider:
  name: eslint opp-provider
  entry: npm run --prefix scripts/opportunity-provider lint
  pass_filenames: false
  language: system

Add pnpm to per
  .github/workflows/publish-js-sdks.yml
  .github/workflows/publish-solidity-sdk.yml
  .pre-commit-config.yaml
  README.md
  Tiltfile
  examples/easy_lend/package-lock.json
  examples/easy_lend/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/dex-router/Dockerfile
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/limonade/Dockerfile
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/opportunity-provider-limo/Dockerfile
  scripts/opportunity-provider-limo/package-lock.json
  scripts/opportunity-provider-limo/package.json
  scripts/opportunity-provider/package-lock.json
  scripts/opportunity-provider/package.json
  scripts/swap-beacon/Dockerfile
  scripts/swap-beacon/package-lock.json
  scripts/swap-beacon/package.json
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

fix precommit
  .github/workflows/ci-pre-commit.yml
Due: none

Fix
  package.json
Due: none

Fix capitalization error in "Development with Tilt" section
  README.md
Due: none

Address comments
  .dockerignore
  .github/workflows/ci-pre-commit.yml
  .github/workflows/publish-js-sdks.yml
  .github/workflows/publish-solidity-sdk.yml
  .github/workflows/push-rust-services.yaml
  .github/workflows/push-services.yaml
  .pre-commit-config.yaml
  Dockerfile.node
  README.md
  package.json
  pnpm-lock.yaml
  scripts/dex-router/Dockerfile
  scripts/dex-router/package.json
  scripts/limonade/Dockerfile
  scripts/limonade/package.json
  scripts/opportunity-provider-limo/Dockerfile
  scripts/opportunity-provider-limo/package.json
  scripts/opportunity-provider/package.json
  scripts/swap-beacon/Dockerfile
  scripts/swap-beacon/package.json
Due: eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

Fix typo
  examples/easy_lend/package.json
Due: none

Add pnpm to per (#270)
  .dockerignore
  .github/workflows/ci-pre-commit.yml
  .github/workflows/publish-js-sdks.yml
  .github/workflows/publish-solidity-sdk.yml
  .github/workflows/push-rust-services.yaml
  .github/workflows/push-services.yaml
  .pre-commit-config.yaml
  Dockerfile.node
  README.md
  Tiltfile
  examples/easy_lend/package-lock.json
  examples/easy_lend/package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/dex-router/Dockerfile
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/limonade/Dockerfile
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/opportunity-provider-limo/Dockerfile
  scripts/opportunity-provider-limo/package-lock.json
  scripts/opportunity-provider-limo/package.json
  scripts/opportunity-provider/package-lock.json
  scripts/opportunity-provider/package.json
  scripts/swap-beacon/Dockerfile
  scripts/swap-beacon/package-lock.json
  scripts/swap-beacon/package.json
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

Fix node build
  .github/workflows/push-services.yaml
Due: none

Remove fix branch
  .github/workflows/push-services.yaml
Due: none

Fix/node build (#272)
  .github/workflows/push-services.yaml
Due: none

Fix publish package
  .github/workflows/publish-js-sdks.yml
  .github/workflows/publish-solidity-sdk.yml
Due: none

Fix publish package (#273)
  .github/workflows/publish-js-sdks.yml
  .github/workflows/publish-solidity-sdk.yml
Due: none

Bump versions and add solana network on sdks
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  sdk/js/package.json
  sdk/js/src/const.ts
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/python/express_relay/constants.py
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Update README.md
  README.md
Due: none

Fix capitalization error in "Development with Tilt" section (#271)
  README.md
Due: none

fix
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

Bump versions and add solana network on sdks (#274)
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  sdk/js/package.json
  sdk/js/src/const.ts
  sdk/python/express_relay/constants.py
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

do it
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/examples/test.ts
  sdk/js/src/index.ts
Due: none

remove
  sdk/js/src/examples/test.ts
Due: none

go
  sdk/js/package.json
  sdk/js/src/index.ts
Due: none

go
  sdk/js/src/index.ts
Due: none

update lint
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

add comment:
  sdk/js/src/index.ts
Due: none

go
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

feat: simple searcher for testing the auction server configs
  sdk/js/package.json
  sdk/js/src/examples/testingSearcherPing.ts
Due: none

minor
  sdk/js/package.json
Due: none

fix: fail on websocket close (#275)
  sdk/js/package.json
  sdk/js/src/index.ts
Due: none

fix: typo (#269)
  auction-server/src/auction/repository/remove_in_memory_auction_lock.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

go
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/utils/health.ts
Due: eslint-dex-router

feat: simple searcher for testing the auction server configs (#276)
  sdk/js/package.json
  sdk/js/src/examples/testingSearcherPing.ts
Due: none

go
  scripts/limonade/src/index.ts
Due: eslint-limonade

do it
  scripts/limonade/src/index.ts
Due: eslint-limonade

go (#277)
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/utils/health.ts
Due: eslint-dex-router

send it
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

send it (#279)
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

chore: add websocket timeout to limonade (#278)
  scripts/limonade/src/index.ts
Due: eslint-limonade

Add express relay rust client
  .github/workflows/publish-rust-express-relay-client.yml
  .pre-commit-config.yaml
  sdk/rust/Cargo.toml
  sdk/rust/src/lib.rs
Due: none

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
  cargo-fmt-gas-oracle: any of: gas-oracle
  cargo-clippy-gas-oracle: any of: gas-oracle
  cargo-fmt-contracts-svm: any of: contracts/svm
  cargo-clippy-contracts-svm: any of: contracts/svm
  eslint-limonade: any of: scripts/limonade
  eslint-dex-router: any of: scripts/dex-router
  eslint-opp-provider-limo: any of: scripts/opportunity-provider-limo
  eslint-opp-provider: any of: scripts/opportunity-provider
