Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2023-07-23 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +nightly-2023-07-23 clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2023-07-23 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2023-07-23 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

feat(opportunity_adapter): better revert reasons when weth fails
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/helpers/Signatures.sol
Due: none

Small cleanup
  per_multicall/test/OpportunityAdapterUnit.t.sol
Due: none

address comments 2
  auction-server/.sqlx/query-0c2895648e3edd6a7a5c607019973ea048a6ac963c8517094c6aae17546a061a.json
  auction-server/.sqlx/query-22831ba32a3f32292c0e36b0e9a6edf4fd34026155a2ea8ab04036000afeb2ac.json
  auction-server/.sqlx/query-6873bfb119552acf4e006a7487d7f7aa42b0cc4b1441c4a571c0dddfe6c791d8.json
  auction-server/.sqlx/query-9e533a8995ff99d5ec7f0c39aad8f422455bea6b192d5b13213d64cce96391ba.json
  auction-server/.sqlx/query-d1dc73c1eba8de30352f01814dbba2769f3644809aa417c2cfddc172b5fbc265.json
  auction-server/.sqlx/query-eeac40b6e8c2829cb4ce3b6b27ce3632c61953a2e00bb12669e7bc3e89fdbe29.json
  auction-server/migrations/20240404172845_auction.up.sql
  auction-server/migrations/20240410152839_bids.down.sql
  auction-server/migrations/20240410152839_bids.up.sql
  auction-server/src/api.rs
  auction-server/src/api/auction.rs
  auction-server/src/api/bid.rs
  auction-server/src/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

convert ts to nanos
  auction-server/src/api/auction.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/auction.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

some minor changes
  auction-server/src/api/auction.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
Due: none

More refactor
  per_multicall/src/OpportunityAdapter.sol
Due: none

feat(opportunity_adapter): Better revert reasons when weth fails (#46)
  per_multicall/src/Errors.sol
  per_multicall/src/OpportunityAdapter.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/OpportunityAdapterUnit.t.sol
  per_multicall/test/helpers/Signatures.sol
Due: none

fix(contracts): Pin contract versions
  .github/workflows/ci-pre-commit.yml
  Dockerfile
  per_multicall/README.md
  per_sdk/Dockerfile
Due: none

Remove entropy comment!
  auction-server/README.md
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix versions
  .github/workflows/ci-pre-commit.yml
  Dockerfile
  per_sdk/Dockerfile
Due: none

updated cargo locks
  .pre-commit-config.yaml
  auction-server/Cargo.lock
  vault-simulator/Cargo.lock
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

fix(contracts): Pin contract versions (#47)
  .github/workflows/ci-pre-commit.yml
  Dockerfile
  auction-server/README.md
  per_multicall/README.md
  per_sdk/Dockerfile
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(auction-server): Fix opportunity verification logic
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  per_sdk/protocols/token_vault_monitor.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

better approach
  auction-server/src/opportunity_adapter.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address comments
  auction-server/src/api.rs
  auction-server/src/api/auction.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/auction.rs
  auction-server/src/state.rs
  per_multicall/test/ExpressRelayTestSetup.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

use stable cargo
  .pre-commit-config.yaml
Due: none

bump
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fixed readme
  per_multicall/README.md
Due: none

nanos -> micros & dumb nightly changes
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump version
  auction-server/Cargo.lock
  auction-server/Cargo.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix nano --> micro in schema doc
  auction-server/src/api/opportunity.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Bid Status Visibility (#42)
  .pre-commit-config.yaml
  auction-server/.sqlx/query-22831ba32a3f32292c0e36b0e9a6edf4fd34026155a2ea8ab04036000afeb2ac.json
  auction-server/.sqlx/query-5ac52db241f53f69fa4b44baf3c917211576f929ff4ff41b51fdb3e2b39ef30a.json
  auction-server/.sqlx/query-6873bfb119552acf4e006a7487d7f7aa42b0cc4b1441c4a571c0dddfe6c791d8.json
  auction-server/.sqlx/query-9e533a8995ff99d5ec7f0c39aad8f422455bea6b192d5b13213d64cce96391ba.json
  auction-server/.sqlx/query-d1dc73c1eba8de30352f01814dbba2769f3644809aa417c2cfddc172b5fbc265.json
  auction-server/.sqlx/query-eeac40b6e8c2829cb4ce3b6b27ce3632c61953a2e00bb12669e7bc3e89fdbe29.json
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/migrations/20240404172845_auction.down.sql
  auction-server/migrations/20240404172845_auction.up.sql
  auction-server/migrations/20240410152839_bids.down.sql
  auction-server/migrations/20240410152839_bids.up.sql
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayEvents.sol
  per_multicall/src/Structs.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
  vault-simulator/Cargo.lock
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

adapt sdks (#1434)
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcher.ts
  sdk/js/src/serverTypes.d.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/searcher/examples/simple_searcher.py
  sdk/python/express_relay/types.py
  sdk/python/pyproject.toml
Due: none

draft auction query
  auction-server/src/api.rs
  auction-server/src/api/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

add governance events
  per_multicall/broadcast/Vault.s.sol/11155420/deployVault-latest.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1710959932.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1710960782.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1710960788.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711736450.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711736546.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711736739.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711737055.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711908884.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711909129.json
  per_multicall/broadcast/Vault.s.sol/11155420/setupTestnet-latest.json
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayEvents.sol
  per_multicall/src/ExpressRelayState.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
Due: none

annoying broadcast
  per_multicall/.gitignore
  per_multicall/broadcast/Vault.s.sol/11155420/deployVault-latest.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1710959932.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1710960782.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1710960788.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711736450.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711736546.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711736739.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711737055.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711908884.json
  per_multicall/broadcast/Vault.s.sol/11155420/run-1711909129.json
  per_multicall/broadcast/Vault.s.sol/11155420/setupTestnet-latest.json
Due: none

correct gitignore
  .gitignore
  per_multicall/.gitignore
Due: none

Update sqlx files
  auction-server/.sqlx/query-842a9c8c36b0d95ea630427c2deb20c60c0a3cf5f4e05e1a04bf0f6b3a4f8e83.json
  auction-server/.sqlx/query-9e533a8995ff99d5ec7f0c39aad8f422455bea6b192d5b13213d64cce96391ba.json
  auction-server/.sqlx/query-eeac40b6e8c2829cb4ce3b6b27ce3632c61953a2e00bb12669e7bc3e89fdbe29.json
  auction-server/.sqlx/query-f9a562ce14696826db0326c4244f185774a302db785578c07f9c882da59b3ee2.json
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix(auction-server): Fix opportunity verification logic (#48)
  auction-server/.sqlx/query-842a9c8c36b0d95ea630427c2deb20c60c0a3cf5f4e05e1a04bf0f6b3a4f8e83.json
  auction-server/.sqlx/query-9e533a8995ff99d5ec7f0c39aad8f422455bea6b192d5b13213d64cce96391ba.json
  auction-server/.sqlx/query-eeac40b6e8c2829cb4ce3b6b27ce3632c61953a2e00bb12669e7bc3e89fdbe29.json
  auction-server/.sqlx/query-f9a562ce14696826db0326c4244f185774a302db785578c07f9c882da59b3ee2.json
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  per_multicall/README.md
  per_sdk/protocols/token_vault_monitor.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix: update migrations to be runnable on current db schema
  auction-server/migrations/20240326063340_bids.down.sql
  auction-server/migrations/20240326063340_bids.up.sql
  auction-server/migrations/20240412112050_bid_auction.down.sql
  auction-server/migrations/20240412112050_bid_auction.up.sql
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

separate governance events from events
  per_multicall/src/ExpressRelay.sol
  per_multicall/src/ExpressRelayEvents.sol
  per_multicall/src/ExpressRelayGovernanceEvents.sol
  per_multicall/src/ExpressRelayState.sol
  per_multicall/test/ExpressRelayUnit.t.sol
Due: none

add governance events (#49)
  .gitignore
  per_multicall/src/ExpressRelayGovernanceEvents.sol
  per_multicall/src/ExpressRelayState.sol
  per_multicall/test/ExpressRelayTestSetup.sol
  per_multicall/test/ExpressRelayUnit.t.sol
Due: none

use stable rust for clippy, nightly for format
  .pre-commit-config.yaml
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

2023-07-23 -> 2024-04-10
  .github/workflows/ci-pre-commit.yml
  Dockerfile
  per_sdk/Dockerfile
Due: none

correction
  .github/workflows/ci-pre-commit.yml
Due: none

use stable rust for clippy, nightly for format (#51)
  .github/workflows/ci-pre-commit.yml
  .pre-commit-config.yaml
  Dockerfile
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/main.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/serde.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/token_spoof.rs
  per_sdk/Dockerfile
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix: update migrations to be runnable on current db schema (#50)
  auction-server/migrations/20240326063340_bids.down.sql
  auction-server/migrations/20240326063340_bids.up.sql
  auction-server/migrations/20240412112050_bid_auction.down.sql
  auction-server/migrations/20240412112050_bid_auction.up.sql
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

initial gas estimation
  Tiltfile
  auction-server/src/api.rs
  auction-server/src/auction.rs
  per_multicall/script/Vault.s.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

delete comment
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server
