Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator, cargo-fmt-gas-oracle, cargo-clippy-gas-oracle, cargo-fmt-contracts-svm, cargo-clippy-contracts-svm, eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

cargo-fmt-auction-server:
  name: Cargo format for auction server
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-auction-server:
  name: Cargo clippy for auction server
  language: rust
  entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-vault-simulator:
  name: Cargo format for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-vault-simulator:
  name: Cargo clippy for vault simulator
  language: rust
  entry: cargo +stable clippy --manifest-path ./vault-simulator/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-gas-oracle:
  name: Cargo format for gas oracle
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./gas-oracle/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-gas-oracle:
  name: Cargo clippy for gas oracle
  language: rust
  entry: cargo +stable clippy --manifest-path ./gas-oracle/Cargo.toml --tests -- -D warnings
  pass_filenames: false

cargo-fmt-contracts-svm:
  name: Cargo format for svm contracts
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./contracts/svm/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-contracts-svm:
  name: Cargo clippy for svm contracts
  language: rust
  entry: cargo +stable clippy --manifest-path ./contracts/svm/Cargo.toml --tests -- -D warnings
  pass_filenames: false

eslint-limonade:
  name: eslint limonade
  entry: npm run --prefix scripts/limonade lint
  pass_filenames: false
  language: system

eslint-dex-router:
  name: eslint dex-router
  entry: npm run --prefix scripts/dex-router lint
  pass_filenames: false
  language: system

eslint-opp-provider-limo:
  name: eslint opp-provider-limo
  entry: npm run --prefix scripts/opportunity-provider-limo lint
  pass_filenames: false
  language: system

eslint-opp-provider:
  name: eslint opp-provider
  entry: npm run --prefix scripts/opportunity-provider lint
  pass_filenames: false
  language: system

fix
  scripts/dex-router/package.json
Due: eslint-dex-router

Fix/bump pkg lock dex router (#254)
  package-lock.json
  scripts/dex-router/package-lock.json
Due: eslint-dex-router

Add trigger for handling svm auction every 400 ms
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix: update js types (#252)
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
Due: none

add migration
  auction-server/migrations/20241120161908_bid_status_alter_type.down.sql
  auction-server/migrations/20241120161908_bid_status_alter_type.up.sql
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

sqlx prepare
  auction-server/.sqlx/query-5143a4ff9e62fdfc64d652d778485aa5e1962ad3aa9c70bd34472f24cef77306.json
  auction-server/.sqlx/query-71a59d9696f9bac1b6d31ce4926b497337c599c11c9cf3d29c58fbbf7501779d.json
  auction-server/.sqlx/query-744013026c0b31750c2452f98851bb38e8bebeba59012b86ac6b0de653332cea.json
  auction-server/.sqlx/query-756fe3557caee2202d61430982956109d0a3ba60cce3536dc5ac2e4eb3682a23.json
  auction-server/.sqlx/query-82192571d3edf3a46265ac00702402fe80ecee20caf9001b88bf8d885b0524e2.json
  auction-server/.sqlx/query-9526c7c80829a0dbeea7763b3381467782c8bec86f6f8b52fe11325b96edbdb4.json
  auction-server/.sqlx/query-b54b6d2c1d4d7957fb7188eec17ec8a0b4e7ab51c728bac77f79ffbd896d8c27.json
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

update sdks
  sdk/js/src/serverTypes.d.ts
  sdk/python/express_relay/models/base.py
Due: none

checkpoint
  auction-server/src/auction/api.rs
  auction-server/src/auction/entities/bid.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

update state transition:
  auction-server/src/auction/repository/models.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

add todo for evm status
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: add svm bid status failed (#253)
  auction-server/.sqlx/query-5143a4ff9e62fdfc64d652d778485aa5e1962ad3aa9c70bd34472f24cef77306.json
  auction-server/.sqlx/query-71a59d9696f9bac1b6d31ce4926b497337c599c11c9cf3d29c58fbbf7501779d.json
  auction-server/.sqlx/query-744013026c0b31750c2452f98851bb38e8bebeba59012b86ac6b0de653332cea.json
  auction-server/.sqlx/query-756fe3557caee2202d61430982956109d0a3ba60cce3536dc5ac2e4eb3682a23.json
  auction-server/.sqlx/query-82192571d3edf3a46265ac00702402fe80ecee20caf9001b88bf8d885b0524e2.json
  auction-server/.sqlx/query-9526c7c80829a0dbeea7763b3381467782c8bec86f6f8b52fe11325b96edbdb4.json
  auction-server/.sqlx/query-b54b6d2c1d4d7957fb7188eec17ec8a0b4e7ab51c728bac77f79ffbd896d8c27.json
  auction-server/migrations/20241120161908_bid_status_alter_type.down.sql
  auction-server/migrations/20241120161908_bid_status_alter_type.up.sql
  auction-server/src/auction/api.rs
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/service/auction_manager.rs
  sdk/js/src/serverTypes.d.ts
  sdk/python/express_relay/models/base.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add trigger for handling svm auction every 400 ms (#255)
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

temp
  auction-server/build.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Bump sdks
  auction-server/src/auction/service/auction_manager.rs
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix
  contracts/svm/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: cargo-fmt-contracts-svm, cargo-clippy-contracts-svm

fix2
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/examples/testingSearcherLimo.ts
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: none

bump: Bump sdks (#257)
  auction-server/src/auction/service/auction_manager.rs
  contracts/svm/package.json
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/examples/testingSearcherLimo.ts
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-contracts-svm, cargo-clippy-contracts-svm

fix: eslint
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/examples/testingSearcherLimo.ts
Due: none

fix: eslint
  .pre-commit-config.yaml
  sdk/js/src/examples/testingSearcherLimo.ts
Due: none

fix: eslint
  .pre-commit-config.yaml
Due: none

fix: add eslint for js sdk (#258)
  .pre-commit-config.yaml
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/examples/testingSearcherLimo.ts
Due: none

initial_fixes
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/dex-router/src/const.ts
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/utils/computeBudget.ts
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
Due: eslint-limonade, eslint-dex-router

fix build
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

fix: add another condition for filled orders
  scripts/limonade/src/index.ts
Due: eslint-limonade

tested working
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/types.ts
  scripts/dex-router/src/utils/computeBudget.ts
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
Due: eslint-limonade, eslint-dex-router

address comments
  scripts/dex-router/src/const.ts
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
Due: eslint-dex-router

Fix/improve dex router (#260)
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/dex-router/src/const.ts
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/types.ts
  scripts/dex-router/src/utils/computeBudget.ts
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
Due: eslint-limonade, eslint-dex-router

temp
  auction-server/build.rs
  auction-server/src/auction/repository/conclude_auction.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/workers.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

polish
  auction-server/src/auction/repository/get_in_memory_submitted_bids_for_auction.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bid conclusion time
  auction-server/.sqlx/query-a25adc19c687c4988ca108b2ef7dedeafe298047458c91bf3bf0540274c4c508.json
  auction-server/.sqlx/query-e57e8bee9fbc6c2c16396d0900f44a734f7cfc94637ff3a8f1b52a329a704522.json
  auction-server/migrations/20241126125054_bid_conclusion_time.down.sql
  auction-server/migrations/20241126125054_bid_conclusion_time.up.sql
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/repository/update_bid_status.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/conclude_auctions.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/handle_auctions.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

test
  Tiltfile
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bugfix
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/verification.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

cleanup
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/kernel/entities.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

cleanup
  Tiltfile
  auction-server/src/auction/service/conclude_auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address comments
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

checkpoint
  sdk/js/src/index.ts
Due: none

go
  sdk/js/src/index.ts
Due: none

undo that change
  sdk/js/src/index.ts
Due: none

handle no data returned
  sdk/js/src/index.ts
Due: none

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
  cargo-fmt-gas-oracle: any of: gas-oracle
  cargo-clippy-gas-oracle: any of: gas-oracle
  cargo-fmt-contracts-svm: any of: contracts/svm
  cargo-clippy-contracts-svm: any of: contracts/svm
  eslint-limonade: any of: scripts/limonade
  eslint-dex-router: any of: scripts/dex-router
  eslint-opp-provider-limo: any of: scripts/opportunity-provider-limo
  eslint-opp-provider: any of: scripts/opportunity-provider
