Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator, cargo-fmt-gas-oracle, cargo-clippy-gas-oracle, cargo-fmt-contracts-svm, cargo-clippy-contracts-svm, eslint-limonade, eslint-dex-router, eslint-opp-provider-limo, eslint-opp-provider

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
  cargo-fmt-gas-oracle: any of: gas-oracle
  cargo-clippy-gas-oracle: any of: gas-oracle
  cargo-fmt-contracts-svm: any of: contracts/svm
  cargo-clippy-contracts-svm: any of: contracts/svm
  eslint-limonade: any of: scripts/limonade
  eslint-dex-router: any of: scripts/dex-router
  eslint-opp-provider-limo: any of: scripts/opportunity-provider-limo
  eslint-opp-provider: any of: scripts/opportunity-provider

add ws
  sdk/js/src/index.ts
Due: none

bugfix
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/verification.rs
  per_sdk/svm/dummy_tx.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add protoc installation step
  .github/workflows/ci-pre-commit.yml
Due: none

Address comments
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

go
  scripts/dex-router/src/index.ts
  scripts/swap-beacon/src/index.ts
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/index.ts
Due: eslint-dex-router

feat: better error logs (#262)
  scripts/dex-router/src/index.ts
  scripts/swap-beacon/src/index.ts
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/index.ts
Due: eslint-dex-router

Address comments
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/handle_auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add more fields to tracing
  auction-server/README.md
  auction-server/src/api.rs
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/repository/add_auction.rs
  auction-server/src/auction/repository/conclude_auction.rs
  auction-server/src/auction/repository/remove_in_memory_submitted_auction.rs
  auction-server/src/auction/repository/submit_auction.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/handle_bid.rs
  auction-server/src/auction/service/update_bid_status.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix ci build
  auction-server/src/auction/repository/add_auction.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/handle_bid.rs
  auction-server/src/auction/service/update_bid_status.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add more fields to tracing (#261)
  auction-server/README.md
  auction-server/src/api.rs
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/repository/add_auction.rs
  auction-server/src/auction/repository/conclude_auction.rs
  auction-server/src/auction/repository/remove_in_memory_submitted_auction.rs
  auction-server/src/auction/repository/submit_auction.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/handle_bid.rs
  auction-server/src/auction/service/update_bid_status.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/verification.rs
  auction-server/src/auction/service/workers.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

add api key + docs on flags
  scripts/dex-router/README.md
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

do something
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: eslint-limonade

send requests concurrently
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: eslint-limonade

add-rule
  .eslintrc.js
Due: none

Bugfix + refactor + more docs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

nit
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump package
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
Due: eslint-dex-router

fix: add api key + docs on flags (#263)
  scripts/dex-router/README.md
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/dex-router/src/index.ts
Due: eslint-dex-router

Add filter for tracing
  auction-server/src/main.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add filter for tracing (#265)
  auction-server/src/main.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bugfix
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bugfix
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

fix
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/handle_auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Use the current client for sending tx
  auction-server/src/auction/service/auction_manager.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: advanced tx simulator (#256)
  .github/workflows/ci-pre-commit.yml
  Tiltfile
  auction-server/.sqlx/query-a25adc19c687c4988ca108b2ef7dedeafe298047458c91bf3bf0540274c4c508.json
  auction-server/.sqlx/query-e57e8bee9fbc6c2c16396d0900f44a734f7cfc94637ff3a8f1b52a329a704522.json
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/migrations/20241126125054_bid_conclusion_time.down.sql
  auction-server/migrations/20241126125054_bid_conclusion_time.up.sql
  auction-server/src/auction/entities/bid.rs
  auction-server/src/auction/repository/conclude_auction.rs
  auction-server/src/auction/repository/get_in_memory_submitted_bids_for_auction.rs
  auction-server/src/auction/repository/models.rs
  auction-server/src/auction/repository/update_bid_status.rs
  auction-server/src/auction/service/auction_manager.rs
  auction-server/src/auction/service/conclude_auction.rs
  auction-server/src/auction/service/conclude_auctions.rs
  auction-server/src/auction/service/handle_auction.rs
  auction-server/src/auction/service/handle_auctions.rs
  auction-server/src/auction/service/mod.rs
  auction-server/src/auction/service/simulator.rs
  auction-server/src/auction/service/update_bid_status.rs
  auction-server/src/auction/service/verification.rs
  auction-server/src/auction/service/workers.rs
  auction-server/src/kernel/entities.rs
  auction-server/src/server.rs
  per_sdk/svm/dummy_tx.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Install protoc for server image
  .github/workflows/push-rust-services.yaml
Due: none

Install protoc for server image (#266)
  .github/workflows/push-rust-services.yaml
Due: none

Include protoc in docker
  .github/workflows/push-rust-services.yaml
  Dockerfile
Due: none

Include protoc in docker (#267)
  .github/workflows/push-rust-services.yaml
  Dockerfile
Due: none

check
  scripts/limonade/src/index.ts
Due: eslint-limonade

pr comments
  scripts/limonade/src/index.ts
Due: eslint-limonade

limonade: bump express-relay sdk and remove direct http checks (#264)
  .eslintrc.js
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: eslint-limonade

debugging
  scripts/dex-router/src/router/jupiter.ts
Due: eslint-dex-router

debug moar
  .github/workflows/push-rust-services-TEMP.yml
Due: none

debug moooooaaaaarr
  .github/workflows/push-rust-services-TEMP.yml
Due: none

fix: typo
  auction-server/src/auction/repository/remove_in_memory_auction_lock.rs
  auction-server/tests/simple_test.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

remove test
  auction-server/tests/simple_test.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server
