Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

cargo-fmt-auction-server:
  name: Cargo format for auction server
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-auction-server:
  name: Cargo clippy for auction server
  language: rust
  entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
  pass_filenames: false

cargo-fmt-vault-simulator:
  name: Cargo format for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
  pass_filenames: false

cargo-clippy-vault-simulator:
  name: Cargo clippy for vault simulator
  language: rust
  entry: cargo +nightly-2024-04-10 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
  pass_filenames: false

Use factory pattern for opportunity adapter
  Tiltfile
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  contracts/script/Vault.s.sol
  contracts/src/CommonErrors.sol
  contracts/src/express-relay/Errors.sol
  contracts/src/opportunity-adapter/Errors.sol
  contracts/src/opportunity-adapter/IOpportunityAdapterFactory.sol
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
  contracts/src/opportunity-adapter/OpportunityAdapterHasher.sol
  contracts/src/opportunity-adapter/OpportunityAdapterUpgradable.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/ExpressRelayUnit.t.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/PermitSignature.sol
  contracts/test/helpers/OpportunityAdapterHarness.sol
  contracts/test/helpers/signatures/OpportunityAdapterSignature.sol
  contracts/test/searcher-vault/SearcherVault.sol
  integration.py
  per_sdk/searcher/README.md
  per_sdk/searcher/searcher_template.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Small fixes
  contracts/src/express-relay/Errors.sol
  contracts/src/opportunity-adapter/IOpportunityAdapterFactory.sol
  contracts/src/opportunity-adapter/OpportunityAdapterHasher.sol
  contracts/test/OpportunityAdapterUnit.t.sol
Due: none

Use bytecode hash instead of bytecode
  Tiltfile
  contracts/script/Vault.s.sol
  integration.py
  per_sdk/searcher/simple_searcher.py
Due: none

Remove OpportunityAdapterSignature
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/helpers/signatures/OpportunityAdapterSignature.sol
Due: none

Address comments
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/src/opportunity-adapter/OpportunityAdapterHasher.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/helpers/OpportunityAdapterHarness.sol
Due: none

Use create2 library
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
Due: none

make adapter vars immutable
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
Due: none

feat: Use factory pattern for opportunity adapter (#94)
  Tiltfile
  auction-server/config.sample.yaml
  auction-server/src/config.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  contracts/script/Vault.s.sol
  contracts/src/CommonErrors.sol
  contracts/src/express-relay/Errors.sol
  contracts/src/opportunity-adapter/Errors.sol
  contracts/src/opportunity-adapter/IOpportunityAdapterFactory.sol
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
  contracts/src/opportunity-adapter/OpportunityAdapterHasher.sol
  contracts/src/opportunity-adapter/OpportunityAdapterUpgradable.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/ExpressRelayUnit.t.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/PermitSignature.sol
  contracts/test/helpers/OpportunityAdapterHarness.sol
  contracts/test/helpers/signatures/OpportunityAdapterSignature.sol
  contracts/test/searcher-vault/SearcherVault.sol
  integration.py
  per_sdk/searcher/README.md
  per_sdk/searcher/searcher_template.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

unit tests for OA Factory
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
  contracts/test/OpportunityAdapterFactoryUnit.t.sol
  contracts/test/helpers/OpportunityAdapterFactoryHarness.sol
Due: none

fix invalid data TokenVault deploy
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

address comments
  contracts/test/OpportunityAdapterFactoryUnit.t.sol
  contracts/test/helpers/OpportunityAdapterFactoryHarness.sol
Due: none

unit tests for OA Factory (#95)
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
  contracts/test/OpportunityAdapterFactoryUnit.t.sol
  contracts/test/helpers/OpportunityAdapterFactoryHarness.sol
Due: none

fix printing token vault contract
  vault-simulator/src/simulator.rs
Due: cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

initial changes for eip712 obsolecesnce
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  contracts/src/opportunity-adapter/OpportunityAdapterFactory.sol
  contracts/test/ExpressRelayIntegration.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/helpers/TestParsingHelpers.sol
  contracts/test/helpers/signatures/SearcherSignature.sol
  contracts/test/searcher-vault/SearcherVault.sol
  contracts/test/searcher-vault/SigVerify.sol
  per_sdk/dist/per_sdk-0.1.0.tar.gz
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

simplify server opportunity type
  Tiltfile
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  integration.py
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
  per_sdk/utils/types_liquidation_adapter.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

up version number and get config endpoint showing
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/config.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

prevent callWithBid from calling Express Relay
  contracts/src/express-relay/Errors.sol
  contracts/src/express-relay/ExpressRelay.sol
  contracts/test/ExpressRelayUnit.t.sol
Due: none

add withdraw methods to OA
  contracts/src/opportunity-adapter/Errors.sol
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/test/OpportunityAdapterUnit.t.sol
Due: none

sweep tokens in OA
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
Due: none

check executeOpportunity called by Factory
  contracts/src/opportunity-adapter/Errors.sol
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
Due: none

Simplify permit2 usage
  contracts/README.md
  contracts/permit2/Mock.sol
  contracts/permit2/Permit2.json
  contracts/script/Vault.s.sol
  contracts/test/PermitSignature.sol
Due: none

Dummy commit
  contracts/src/Errors.sol
  contracts/src/OpportunityProvider.sol
  contracts/src/Structs.sol
  contracts/test/OpportunityProvider.t.sol
  contracts/test/helpers/OpportunityProviderHarness.sol
Due: none

Address review comments
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/test/OpportunityProvider.t.sol
  contracts/test/helpers/OpportunityProviderHarness.sol
  contracts/test/opportunity-provider/Errors.sol
  contracts/test/opportunity-provider/OpportunityProvider.sol
  contracts/test/opportunity-provider/Structs.sol
Due: none

Address more comments
  contracts/test/opportunity-provider/OpportunityProvider.sol
  contracts/test/opportunity-provider/OpportunityProviderHasher.sol
Due: none

Add dummy exchange for test on mainnet
  contracts/src/DummyExchange.sol
  contracts/src/DummyExchangeUpgradable.sol
  contracts/src/Structs.sol
  contracts/test/DummyExchangeUnit.t.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/PermitSignature.sol
  contracts/test/helpers/DummyExchangeHarness.sol
Due: none

Merge with main
  contracts/src/DummyExchangeUpgradable.sol
  contracts/src/Errors.sol
  contracts/src/OpportunityProvider.sol
  contracts/test/DummyExchangeUnit.t.sol
  contracts/test/OpportunityProvider.t.sol
  contracts/test/helpers/DummyExchangeHarness.sol
  contracts/test/helpers/OpportunityProviderHarness.sol
  contracts/test/opportunity-provider/Errors.sol
  contracts/test/opportunity-provider/OpportunityProvider.sol
  contracts/test/opportunity-provider/Structs.sol
  per_multicall/test/opportunity-provider/OpportunityProvider.sol
  per_multicall/test/opportunity-provider/Structs.sol
Due: none

Address comments
  contracts/test/DummyExchangeUnit.t.sol
  contracts/test/PermitSignature.sol
  contracts/test/helpers/DummyExchangeHarness.sol
  per_multicall/test/opportunity-provider/Errors.sol
  per_multicall/test/opportunity-provider/OpportunityProvider.sol
  per_multicall/test/opportunity-provider/Structs.sol
Due: none

Add dummy exchange for test on mainnet (#90)
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/test/ExpressRelayTestSetup.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
  contracts/test/OpportunityProvider.t.sol
  contracts/test/PermitSignature.sol
  contracts/test/helpers/OpportunityProviderHarness.sol
  contracts/test/opportunity-provider/Errors.sol
  contracts/test/opportunity-provider/OpportunityProvider.sol
  contracts/test/opportunity-provider/OpportunityProviderHasher.sol
  contracts/test/opportunity-provider/Structs.sol
Due: none

Simplify permit2 usage (#99)
  contracts/README.md
  contracts/permit2/Mock.sol
  contracts/permit2/Permit2.json
  contracts/script/Vault.s.sol
  contracts/test/PermitSignature.sol
Due: none

address comments
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
Due: none

Final audit fixes (#98)
  contracts/src/express-relay/Errors.sol
  contracts/src/express-relay/ExpressRelay.sol
  contracts/src/opportunity-adapter/Errors.sol
  contracts/src/opportunity-adapter/OpportunityAdapter.sol
  contracts/test/ExpressRelayUnit.t.sol
  contracts/test/OpportunityAdapterIntegration.t.sol
  contracts/test/OpportunityAdapterUnit.t.sol
Due: none

(Express Relay):renamed easyLend argument name (#1691)
  examples/easy_lend/contracts/EasyLend.sol
  examples/easy_lend/contracts/EasyLendStructs.sol
Due: none

revert auction server to static OAConfigs
  auction-server/config.sample.yaml
  auction-server/src/api.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/opportunity_adapter.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  per_sdk/searcher/searcher_utils.py
  per_sdk/searcher/simple_searcher.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

address comments
  auction-server/Cargo.lock
  auction-server/Cargo.toml
  auction-server/src/api/opportunity.rs
  per_sdk/dist/per_sdk-0.1.0.tar.gz
  per_sdk/searcher/searcher_utils.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: Historical endpoint for opportunities
  auction-server/src/api.rs
  auction-server/src/api/bid.rs
  auction-server/src/api/opportunity.rs
  auction-server/src/models.rs
  auction-server/src/serde.rs
  auction-server/src/state.rs
  contracts/test/OpportunityProvider.t.sol
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add index for faster lookup
  auction-server/migrations/20240624145553_opportunity_index.down.sql
  auction-server/migrations/20240624145553_opportunity_index.up.sql
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Small refactor and improvement
  auction-server/src/api/opportunity.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Path conditions:
  cargo-fmt-auction-server: any of: auction-server
  cargo-clippy-auction-server: any of: auction-server
  cargo-fmt-vault-simulator: any of: vault-simulator
  cargo-clippy-vault-simulator: any of: vault-simulator
