Repository pyth-network/per: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: package-lock.json
  # Hook to format many type of files in the repo
  # including solidity contracts.
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - "prettier@2.7.1"
          - "prettier-plugin-solidity@1.0.0-rc.1"
  - repo: local
    hooks:
      # Hooks for auction server
      - id: cargo-fmt-auction-server
        name: Cargo format for auction server
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./auction-server/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: auction-server
      - id: cargo-clippy-auction-server
        name: Cargo clippy for auction server
        language: "rust"
        entry: cargo +stable clippy --manifest-path ./auction-server/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: auction-server
      # Hooks for vault-simulator
      - id: cargo-fmt-vault-simulator
        name: Cargo format for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 fmt --manifest-path ./vault-simulator/Cargo.toml --all -- --config-path rustfmt.toml
        pass_filenames: false
        files: vault-simulator
      - id: cargo-clippy-vault-simulator
        name: Cargo clippy for vault simulator
        language: "rust"
        entry: cargo +nightly-2024-04-10 clippy --manifest-path ./vault-simulator/Cargo.toml --tests --fix --allow-dirty --allow-staged --  -D warnings
        pass_filenames: false
        files: vault-simulator
      # For python files
      - id: isort
        name: isort
        entry: poetry -C per_sdk run isort --profile=black per_sdk
        pass_filenames: false
        language: system
      - id: black
        name: black
        entry: poetry -C per_sdk run black per_sdk
        pass_filenames: false
        language: system
      - id: pyflakes
        name: pyflakes
        entry: poetry -C per_sdk run pyflakes per_sdk
        pass_filenames: false
        language: system

add caching of lookup tables (#195)
  auction-server/src/auction.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix svm lost bid query update (#203)
  auction-server/.sqlx/query-744013026c0b31750c2452f98851bb38e8bebeba59012b86ac6b0de653332cea.json
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix log for remove opportunity in js sdk (#208)
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

Fix/bump limo version 0.6.0 (#206)
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

feat: remove blockhash (#188)
  auction-server/src/api.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/get_quote.rs
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/models/svm.py
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: js sdk publish workflow (#196)
  .github/workflows/publish-js-sdks.yml
  .github/workflows/pypi-express-relay-utils.yml
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

Fix/rounding bug limo sdk (#207)
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

fix: clippy warns fail pre-commit now (#201)
  .pre-commit-config.yaml
  auction-server/src/models.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/repository/models.rs
  auction-server/src/opportunity/service/estimate_price.rs
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/state.rs
  contracts/svm/testing/src/express_relay/submit_bid.rs
  contracts/svm/testing/src/helpers.rs
  vault-simulator/src/simulator.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

Add svm verification loop (#204)
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/workers.rs
  auction-server/src/server.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Fix: improvements on express relay sdks and simple searchers (#2045)
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/python/README.md
  sdk/python/express_relay/client.py
  sdk/python/express_relay/constants.py
  sdk/python/express_relay/express_relay_types.py
  sdk/python/express_relay/models/__init__.py
  sdk/python/express_relay/models/base.py
  sdk/python/express_relay/models/evm.py
  sdk/python/express_relay/models/svm.py
  sdk/python/express_relay/searcher/examples/simple_searcher_evm.py
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
  sdk/python/express_relay/svm/limo_client.py
Due: none

Feat/minimum bid lifetime svm (#199)
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

opportunity provider script for limo (#180)
  .github/workflows/push-rust-services.yaml
  scripts/opportunity-provider-limo/.gitignore
  scripts/opportunity-provider-limo/Dockerfile
  scripts/opportunity-provider-limo/README.md
  scripts/opportunity-provider-limo/index.ts
  scripts/opportunity-provider-limo/opportunities.sample.json
  scripts/opportunity-provider-limo/package-lock.json
  scripts/opportunity-provider-limo/package.json
  scripts/opportunity-provider-limo/tsconfig.json
Due: none

Fix docstrings to end with a period. (#192)
  auction-server/src/api.rs
  auction-server/src/api/profile.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/config/server.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/service/get_quote.rs
  auction-server/src/opportunity/service/get_spoof_info.rs
  auction-server/src/opportunity/token_spoof.rs
  auction-server/src/state.rs
  contracts/svm/cli/src/main.rs
  contracts/svm/programs/dummy/src/lib.rs
  contracts/svm/programs/express_relay/README.md
  contracts/svm/programs/express_relay/src/lib.rs
  contracts/svm/programs/express_relay/src/sdk/cpi.rs
  contracts/svm/programs/express_relay/src/sdk/test_helpers.rs
  contracts/svm/programs/express_relay/src/utils.rs
  gas-oracle/src/lib.rs
  vault-simulator/src/config.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server, cargo-fmt-vault-simulator, cargo-clippy-vault-simulator

bump: PER Python and TS sdks (#2046)
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none

Bug: correct fill rate in ER Limo simple searcher example (#2049)
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
  sdk/python/express_relay/searcher/examples/simple_searcher_svm.py
  sdk/python/express_relay/svm/generated/limo/instructions/take_order.py
  sdk/python/express_relay/svm/limo_client.py
  sdk/python/pyproject.toml
Due: none

Bump limo version to 0.3.0 (#2048)
  sdk/js/package.json
  sdk/js/src/examples/simpleSearcherLimo.ts
Due: none

feat: add solidity workflow and fix js workflow (#198)
  .github/workflows/publish-js-sdks.yml
  .github/workflows/publish-solidity-sdk.yml
  sdk/js/package.json
Due: none

Fix get bids result for empty bids list (#190)
  auction-server/src/auction.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

feat: separation url for tx send in svm (#187)
  Tiltfile
  auction-server/config.sample.yaml
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/config.rs
  auction-server/src/opportunity/service/verification.rs
  auction-server/src/server.rs
  auction-server/src/state.rs
  auction-server/src/subwallet.rs
  integration.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Feat/remove opportunity (#193)
  auction-server/.sqlx/query-5143a4ff9e62fdfc64d652d778485aa5e1962ad3aa9c70bd34472f24cef77306.json
  auction-server/.sqlx/query-71a59d9696f9bac1b6d31ce4926b497337c599c11c9cf3d29c58fbbf7501779d.json
  auction-server/.sqlx/query-756fe3557caee2202d61430982956109d0a3ba60cce3536dc5ac2e4eb3682a23.json
  auction-server/.sqlx/query-82192571d3edf3a46265ac00702402fe80ecee20caf9001b88bf8d885b0524e2.json
  auction-server/.sqlx/query-9526c7c80829a0dbeea7763b3381467782c8bec86f6f8b52fe11325b96edbdb4.json
  auction-server/.sqlx/query-b54b6d2c1d4d7957fb7188eec17ec8a0b4e7ab51c728bac77f79ffbd896d8c27.json
  auction-server/src/api.rs
  auction-server/src/api/ws.rs
  auction-server/src/auction.rs
  auction-server/src/kernel/entities.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/add_opportunity.rs
  auction-server/src/opportunity/repository/exists_in_memory_opportunity_create.rs
  auction-server/src/opportunity/repository/get_in_memory_opportunities.rs
  auction-server/src/opportunity/repository/get_in_memory_opportunities_by_key.rs
  auction-server/src/opportunity/repository/get_in_memory_opportunity_by_id.rs
  auction-server/src/opportunity/repository/get_opportunities.rs
  auction-server/src/opportunity/repository/get_opportunities_by_permission_key.rs
  auction-server/src/opportunity/repository/get_opportunities_by_permission_key_and_id.rs
  auction-server/src/opportunity/repository/mod.rs
  auction-server/src/opportunity/repository/remove_opportunities.rs
  auction-server/src/opportunity/repository/remove_opportunity.rs
  auction-server/src/opportunity/service/add_opportunity.rs
  auction-server/src/opportunity/service/get_live_opportunities.rs
  auction-server/src/opportunity/service/get_live_opportunities_by_permission_key.rs
  auction-server/src/opportunity/service/get_opportunities.rs
  auction-server/src/opportunity/service/get_quote.rs
  auction-server/src/opportunity/service/handle_opportunity_bid.rs
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/service/remove_opportunities.rs
  auction-server/src/state.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump: python sdk
  sdk/python/pyproject.toml
Due: none

sdk updates
  Tiltfile
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

fix rounding bug
  sdk/js/package-lock.json
  sdk/js/package.json
Due: none

dex router txs getting to auction server
  scripts/dex-router/src/index.ts
Due: none

intermediate changes, up to tx size testing
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
Due: none

update fromTime to date
  sdk/js/src/index.ts
Due: none

convert OPPORTUNITY_PAGE_SIZE_CAP to usize
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/repository/get_opportunities.rs
  auction-server/src/opportunity/repository/mod.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

update constraint comment
  auction-server/src/opportunity/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

document with maximum
  auction-server/src/opportunity/api.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

bump versions
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none

unbump versions
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/python/pyproject.toml
Due: none

Feat/get all live opps (#205)
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/get_opportunities.rs
  auction-server/src/opportunity/repository/mod.rs
  auction-server/src/opportunity/service/get_opportunities.rs
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/python/express_relay/client.py
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add remove opportunity broadcast for expired opportunities
  auction-server/src/api.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/repository/get_in_memory_opportunity_by_id.rs
  auction-server/src/opportunity/repository/remove_opportunity.rs
  auction-server/src/opportunity/service/add_opportunity.rs
  auction-server/src/opportunity/service/get_quote.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/service/remove_opportunities.rs
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/models/__init__.py
  sdk/python/express_relay/models/base.py
  sdk/python/express_relay/models/evm.py
  sdk/python/express_relay/models/svm.py
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Address comments
  auction-server/.clippy.toml
  auction-server/src/auction.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/mod.rs
  auction-server/src/opportunity/repository/get_in_memory_opportunity_by_id.rs
  auction-server/src/opportunity/service/add_opportunity.rs
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/service/remove_opportunities.rs
  auction-server/src/opportunity/workers.rs
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Add remove opportunity broadcast for expired opportunities (#210)
  auction-server/.clippy.toml
  auction-server/src/api.rs
  auction-server/src/auction.rs
  auction-server/src/opportunity/api.rs
  auction-server/src/opportunity/entities/opportunity.rs
  auction-server/src/opportunity/entities/opportunity_evm.rs
  auction-server/src/opportunity/entities/opportunity_svm.rs
  auction-server/src/opportunity/mod.rs
  auction-server/src/opportunity/repository/remove_opportunity.rs
  auction-server/src/opportunity/service/get_quote.rs
  auction-server/src/opportunity/service/mod.rs
  auction-server/src/opportunity/service/remove_invalid_or_expired_opportunities.rs
  auction-server/src/opportunity/service/remove_opportunities.rs
  auction-server/src/opportunity/workers.rs
  sdk/js/package-lock.json
  sdk/js/package.json
  sdk/js/src/index.ts
  sdk/js/src/serverTypes.d.ts
  sdk/js/src/types.ts
  sdk/python/express_relay/client.py
  sdk/python/express_relay/models/__init__.py
  sdk/python/express_relay/models/base.py
  sdk/python/express_relay/models/evm.py
  sdk/python/express_relay/models/svm.py
  sdk/python/pyproject.toml
Due: cargo-fmt-auction-server, cargo-clippy-auction-server

Remove removal loop from limonade
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

Remove removal loop from limonade (#211)
  scripts/limonade/package-lock.json
  scripts/limonade/package.json
  scripts/limonade/src/index.ts
Due: none

did some testing
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
Due: none

dex router skeleton
  scripts/dex-router/.gitignore
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/dex-router/src/const.ts
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/types.ts
  scripts/dex-router/tsconfig.json
Due: none

intermediate changes
  scripts/dex-router/package-lock.json
  scripts/dex-router/package.json
  scripts/dex-router/src/const.ts
  scripts/dex-router/src/index.ts
  scripts/dex-router/src/router/jupiter.ts
  scripts/dex-router/src/types.ts
Due: none
